UPBIT_OPEN_API_ACCESS_KEY=put_access_key_here
UPBIT_OPEN_API_SECRET_KEY=put_secret_key_here
UPBIT_OPEN_API_SERVER_URL=https://api.upbit.com
TELEGRAM_BOT_TOKEN=put_telegram_bot_token_here
TELEGRAM_CHAT_ID=put_telegram_chat_id_here
